html, body {
    height:100%;
    margin:0;
    padding:0;
}
body {
    background: #e7e5d4;
	  font-family: samarkan;
/*	 */		background: #e7e5d4 url(../images/bodyBack.jpg) right top fixed no-repeat; 
   -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(    src='images/bodyBack.jpg',    sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(    src='images/bodyBack.jpg',    sizingMethod='scale')";

}
/**/.fixedHeight{ min-height:500px;}
#headerPart{}
#changeThemeLink{ cursor:pointer;}
@font-face {
    font-family: 'samarkan';
    src: url('../css/samarkan/SAMARN__.TTF');
    font-weight: normal;
    font-style: normal;
}
.contentDiv {
 /*   height:100%;
    width:100%;
 
    background: #e7e5d4 url(../images/very_big_women_bw_2.png) right top fixed no-repeat;*/
    font-family: samarkan,Georgia, "Times New Roman", Times, serif;
    font-size:18px;
    color:#fff;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;	z-index:3;
}

.contentDivInner {
	position:absolute;
	top:0;
	left:0;
    height:100%;
    width:100%;
/**/	background:url(../images/bodyBackRO.jpg) right top fixed no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	opacity:0;
	z-index:0;
	  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(    src='images/bodyBackRO.jpg',    sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(    src='images/bodyBackRO.jpg',    sizingMethod='scale')";
}
/*.contentDivInner:hover { opacity:1;
    -webkit-transition: opacity 6s ease-in;
    -moz-transition: opactiy  6s ease-in;
    -ms-transition: opacity 6s ease-in;
    -o-transition: opacity  6s ease-in;
    transition: opacity  6s ease-in;}*/
h5 {
    font-size:12px;
    margin-left:5%;
}
h1 {
   background:url(../images/peacock.png) no-repeat -2px 25px transparent;
    line-height: 89px;
    padding-bottom: 29px;
    padding-left: 59px;
    line-height: 89px;
    padding-bottom: 29px;
    padding-left: 59px;
    color:#940f0f;
    font-size:37px;
    margin-bottom:0;
	    font-style:italic;
}
#topNav {
    list-style-type: none;
    margin:0px;
    padding:0px;
    positon:fixed;
	 z-index:999999;
    top:10px;
	position:absolute; color: #241A9C;
font-weight: bold;
font-size: 19px;
}
#topNav li {
    display:inline;
    padding:20px 20px 10px 20px;
	
    cursor:hand;
}
#slider {
    border-bottom:2px groove;
    position:absolute;
    height:2px;
    width:70px;
}
#homeCont {
    border:1px solid white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    max-height:95%;
    height:85%;
    overflow: hidden;
    width:95%;
    margin-left:2%!important;
	background:rgba(0, 0, 0, 0.35);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
 margin-top: 40px;
    clear:both;
	/*opacity:0;*/
	position: relative; z-index:3;
}
.hometext {
    font-size:20px;
   
}
#sampleImgs img {
    border:5px groove #ffffff;
    margin:15px;
    float:left;
    padding:1px;
}

a {
    outline: none;
}

a img {
    border: 1px solid #BBB;
    padding: 2px;
    margin: 10px 20px 10px 0;
    vertical-align: top;
}

a img.last {
    margin-right: 0;    
}

ul {
    margin-bottom: 24px;
    padding-left: 30px; list-style-type:none;
}
#websiteDesignSamples,#artWorkSamples,#AboutMeDiv{padding-left: 59px;}
#artWorkSamples{padding-left: 59px;}
#webSamples{float:left; width:100%;overflow-y:hidden; text-align:left;}
.otherFont{ font-family:Georgia, "Times New Roman", Times, serif; color:#04026A;font-size: 15px;    font-style: italic; position:absolute;top:0;bottom:0; right:0; text-decoration:none;}
.floatRight{ float:right;}
.contentDiv.sanFont{ font-family:Arial, Helvetica, sans-serif!important; font-size:17px!important;}
#theams{float:right;    position: absolute;    top: 0;    z-index: 999999; right:20px; }	
.contentDiv.sanFont .hometext{ font-size:17px!important;}
#theams h2{ margin-top:0;}	
	#theams ul{ display:block;}
	#theams ul li:hover{margin-top:10px; margin-bottom:10px; margin-left:10px;margin-right:-10px; background-color:#241A9C; color:#ffffff; cursor:pointer; }	
	#theams ul li{ padding:5px; background-color:#FFFFFF;margin: 10px; margin-left:-10px; 
	    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all  1s ease-in-out 2s;
    -ms-transition: all 1s ease-in-out 2s;
    -o-transition: all  1s ease-in-out 2s;
    transition: all  1s ease-in-out 2s;

/*-webkit-transition: margin-left 0s ease  linear;
-moz-transition: margin-left 0s ease  linear ;
-o-transition: margin-left 0s linear;
-ms-transition: margin-left 0s linear;
transition: margin-left 1s ease ;*/
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;	
	}	
	
#topNav li { cursor:pointer;}
.navbar-toggle {
		 display:none;}
/*media quries*/

/* Pads and larger phones */
@media only screen and (max-width: 706px) {
/*	#topNav{display:none;}
#topNav li{ display:block;}*/	
#websiteDesignSamples,#artWorkSamples,#AboutMeDiv{padding-left: 20px;}
h1 {
   background:none;
   background-size: contain;
    line-height: normal;
    padding-bottom: 9px;
    padding-left: 10px;
    line-height:25px;
    padding-bottom: 20px;
    padding-left: 20px;
    color:#940f0f;
    font-size:20px;
    margin-bottom:0;
	    font-style:italic;
}
.icon-bar{
	background-color:#fff;
	border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
	margin:4px;
	
	}


.navbar-toggle {
		 display:none;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left:10px;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 4px;
    position: absolute;
	 z-index:999999;
		 display:block;
}
#topNav {
    list-style-type: none;
    margin:0px;
    padding:0px;
    positon:fixed;
	 z-index:999999;
    top:45px;
	position:relative; color: #241A9C;
font-weight: bold;
font-size: 19px;
}
#topNav li {    display:block;    padding:10px;    cursor:hand;}
}
.text-shadow{/*text-shadow:5px 2px 4px #000000;*/text-shadow:3px 2px 2px #ffffff;
/*border-radius: 8px; 
-webkit-border-radius:8px; 
-moz-border-radius:8px; 
	background:rgba(0, 0, 0, 0.2);box-shadow: 0px 0px 0px #333333; 
-webkit-box-shadow: 0px 0px 0px #333333; 
-moz-box-shadow: 0px 0px 0px #333333; 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000');  IE */}
.decorativeTopImage, .dremyFlowerBotImage{ display:none;}